
/* This applies to the whole page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    font-size: 16px;
}

body {
    background-color: #d9dcd6;
}

/*Styling for the nav bar*/
nav {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;

}

nav h1 {
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
}

#seo {
    color: #d9dcd6;
}

nav ul {
    padding: 20px;
    float: right;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 20px;
    font-style: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
    nav ul {
        font-size: 1em;
    } 
  }

nav li {
    list-style-type: none;
    display: inline-block;
    padding-left: 15px;
}

nav a {    
    color: #ffffff;
    text-decoration: none;
}

/*Styling for the large hero image*/
.hero-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/*Styling for the blocks with services and images*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content img { 
    max-height: 200px;
}

.content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Styling for the benefits sidebar*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Styling for the footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.f1 {
    font-size: 20px;
    font-weight: bold;
}

.red {
    color: red;
}